@import "./sidebar";
@import "./snack";

$main-color: #352971ff;

.dark-theme{
  color:white
}

.App {
  display: flex;
}

.action-icon {
  color: gray;
  transition: 0.5s;
}

.action-icon:hover {
  color: black;
  transform: scale(1.1);
}

.header-subtitle {
  letter-spacing: 3px;
  font-size: 11px;
}

.button-modal{
  padding-bottom: 1rem;
  width: 40px;
  height: 40px;
  background-color: $main-color;
  color: white;
  border-color: transparent;
  border-radius: 0 0 0 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
}
.menu-selected{
  transition:0.5s;
  padding-left:0.5rem;
  color:gray; 
  
}
.menu-selected:hover{
  color:black;
  cursor:pointer;
}
@keyframes example {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

.social-footer {
  position: fixed;
  bottom: 0;
  right: calc(15% - 50px);
}
.social-icons-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 1rem 0;
}
.social-icon {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  color: black;
  padding: 0.3rem;
  background-color: white;
  transition: 0.4s;
  cursor: pointer;
}

.social-icon:hover {
  transition: 0.4s;
  color: white;
  background-color: #3d3d3d;
}

.global-container {
  position:relative;
  width: 70%;
  min-height: 100vh;
  text-align: center;
  background-color: #efefef;
  background: url("../../public/background_figure.png") no-repeat center center
    fixed;
  background-size: cover;
  transition: 1s;
}
.global-container-hide{
  width:100%;
  transition: 1s;
}
.global-container-dark{
  background:url("");
  background-color:rgb(29, 27, 27);

}

.main-logo {
  margin-top: 1.5rem;
  max-width: 7rem;
}

.info-subtitle::first-letter {
  color: $main-color;
  font-weight: 600;
}

.dark-button {
  padding: 0.5rem 1.5rem;
  background-color: black;
  border-radius: 25px;
}

.action-banner-text {
  color: gray;
}

.info-container {
  opacity: 0;
}
.animate {
  transition: 0.7s;
  opacity: 1;
}
.path-container {
  position: fixed;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.path-modal {
  background-color: white;
  box-shadow: 0 0 35px 1px rgb(53, 53, 53);
  color: black;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
}
.path-button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 50px;
  padding: 7px;
  transition: 0.6s;
  cursor: pointer;
  &-icon {
    transition: 0.6s;
    color: black;
  }

  &:hover {
    background-color: white;
    color: black;
    border: none;
  }

  &:active {
    background-color: white !important;
    color: black;
    border: none !important;
  }
  &:focus {
    background-color: white !important;
    color: black;
    border: none !important;
  }
}

@media screen and (max-width: 900px) {
  .App {
    flex-direction: column;
    position: relative;
  }
  .global-container {
    width: 100% !important;
    min-height: 4rem;
  }
  .sidebar {
    width: 100% !important;
    min-height: 4rem;
  }

  .social-footer {
    position: static;
  }

  .snack-image {
    display: none;
  }
  .snack-container {
    flex-direction: column;
  }
  .snack-button {
    margin-bottom: 2rem;
  }
}
