:root {
  --main-color: #352971ff;
}
.App {
  display: flex;
}

/* ProxyCat styles */
.sidebar {
  width: 30%;
  min-height: 100vh;
  text-align: center;
  background-color: #333333;
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.sidebar-about {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}
.sidebar-about a {
  text-decoration: none;
}

.sidebar-profile-img {
  max-width: 8rem;
  margin-top: 2rem;
}

.sidebar-coffe-img {
  max-width: 2.5rem;
}
.sidebar-coffe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-coffe-circle {
  background-color: #fedc00;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-coffe-circle:hover {
  background-color: #e2c504;
  cursor: pointer;
}

.social-footer {
  position: fixed;
  bottom: 0;
  right: calc(15% - 50px);
}
.social-icons-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 1rem 0;
}
.social-icon {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  color: black;
  padding: 0.3rem;
  background-color: white;
  transition: 0.4s;
  cursor: pointer;
}

.social-icon:hover {
  transition: 0.4s;
  color: white;
  background-color: #3d3d3d;
}

.global-container {
  width: 70%;
  min-height: 100vh;
  text-align: center;
  background-color: #efefef;
}
.snack-title {
  font-weight: 600;
}
.snack-image {
  width: 20rem;
  margin-top: 3rem;
  margin-right: -1.5rem;
}
.snack-container {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
  justify-content: space-between;
}

.snack-info {
  text-align: left;
}

.main-logo {
  margin-top: 2rem;
}

.info-subtitle::first-letter {
  color: var(--main-color);
  font-weight: 600;
}

.snack-button {
  padding: 1rem 2rem;
  margin-top: -20px;
  background-color: var(--main-color);
  border-color: var(--main-color);
  line-height: 1rem;
  border-radius: 25px;
  transition: 1s;
  -webkit-transition: 1s; /* Safari */
  transition-timing-function: ease-out;
}

.snack-button:hover {
  transition: 0.5s;
  background-color: #3a3a3a;
  letter-spacing: 1px;
}

.snack-button:active {
  top: 1px;
  background-color: var(--main-color) !important;
  box-shadow: 0 0 0 0.2rem rgba(85, 55, 119, 0.322) !important;
}

.snack-button:focus {
  box-shadow: 0 0 0 0.2rem rgba(85, 55, 119, 0.322);
  background-color: var(--main-color);
}

.dark-button {
  padding: 0.5rem 1.5rem;
  background-color: black;
  border-radius: 25px;
}

.info-container {
  opacity: 0;
}
.animate {
  transition: 0.7s;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .App {
    flex-direction: column;
    position: relative;
  }
  .global-container {
    width: 100% !important;
    min-height: 4rem;
  }
  .sidebar {
    width: 100% !important;
    min-height: 4rem;
  }
  .social-footer {
    position: static;
  }

  .snack-image {
    display: none;
  }
  .snack-container {
    flex-direction: column;
  }
  .snack-button {
    margin-bottom: 2rem;
  }
}
